# ignore cache folder
__pycache__/

# temporary script created with for run with out save
tmp/

# ignore log
*.log

# ignore files used for testing new addtions
test.py
instructions/test.xml
breezess

# vscode settings folder
.vscode